extends ../layout

block content
  h1 Reset Your Password
  form(action=`/logIn/reset/${token}`, method="post")
    div.form-group
      label(for="password") New Password
      input.form-control(type="password", name="password", required=true)
    div.form-group
      label(for="confirmPassword") Confirm New Password
      input.form-control(type="password", name="confirmPassword", required=true)
    button.btn.btn-primary(type="submit") Reset Password
